nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.big{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: 80px;
}
.primary{
    color: coral;
}
nav > ul{
   display: flex;
   align-items: center;
}
nav li{
    list-style: none;
    margin-right:50px ;
}
nav a{
    text-decoration: none;

}
.btn-primary{
    background-color: coral;
    border-radius: 5px;
    border:0px;
    font-size: 20px;
    font-weight: 700px;
    color: white;
    padding: 18px 35px;
}
.header{
    background-color: antiquewhite;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
}
.banner .profile{
    width: 800px;
}